# **Python Tuple**

**Instructor:** Jhun Brian M. Andam

**Course:** Data Structures and Algorithm

**Objectives**

- Learn how to create tuples
- Explore common operations for sequence
- Invoke tuple methods.

Python tuples are a type of data structure that is very similar to `lists`. The main difference between the two is that tuples are `immutable`, meaning they cannot be changed once they are created. This makes them ideal for storing data that should not be modified, such as database records.

A tuple can have any number of items, which may be of different types, such as a `string`, `integer`, `float`, `list`, etc. Let's explore ways to create and use a tuple to make our programming tasks easier.

Tuples can be created in a number of ways. The most common way is to wrap them in parentheses. Both single and multiple tuples must always be followed by a comma, like so:

In [1]:
t1 = ("I'm", 'so', 'kwan', 123)

t2 = tuple(["I'm", 'so', 'kwan', 123])

t3 = "I'm", 'so', 'kwan', 123

type(t1) == type(t2) == type(t3)

True

### **Types of Tuple**

- Named Tuples
- Unnamed Tuples

**Named Tuples** in Python are an extension of regular tuples that allow for accessing elements by name instead of index. This feature enhances code readability and efficiency.

In [2]:
from collections import namedtuple

In [3]:
TupleClass = namedtuple("TupleClass", ["age", "school", "campus"]) # class
issubclass(TupleClass, tuple)

True

In [4]:
tp_instance = TupleClass(18, "USTP", "CDO") # instance 1 / object
t2 = TupleClass(19, "USTP", 'Jasaan') # instance 2 / object

In [5]:
t2.age

19

In [6]:
t2.school

'USTP'

In [7]:
tp_instance.campus

'CDO'

In [8]:
tp_instance[0]

18

In [9]:
tp_instance[1]

'USTP'

In [10]:
tp_instance[2]

'CDO'

As you can see, named tuples provide a more descriptive way to access elements, which can improve code readability and reduce the likelihood of errors when dealing with tuples containing multiple fields. They offer a balance between the simplicity of regular tuples and the clarity of custom classes.

**Unnamed Tuples** are the more common type of tuple, and are simply created by separating values with commas. These tuples are often used for storing data that does not need to be named. Basically the typical tuples.

### **Tuple Operations and Methods**

In [11]:
# unnamed tuple
record_ut = ("Brian", "CDO", "Data Science", 123456789)

# named tuple
Student = namedtuple("Student", ["name", "campus", "department", "id"])
record_nt = Student("Brian", "CDO", "Data Science", 123456789)

In [12]:
print(dir(record_ut))

print("\n")

print(dir(record_nt))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']


['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '_asdict', '_field_defaults', '_fields', '_make', '_replace', 'campus', 'count', 'department', 'id', 'index', 'name']

In [13]:
# tuple.count(object)

record_ut.count("Data Science")

1

In [14]:
# tuple.index(object)

record_nt.count("Data Science")

1

In [15]:
record_ut.index("Data Science")

2

In [16]:
record_nt.index("Data Science")

2

In [17]:
record_nt.name

'Brian'

In [18]:
record_nt.campus

'CDO'

In [19]:
record_nt.id

123456789

#### **Traversing a Collection Structure**

In [20]:
s = "pneumonoultramicroscopicsilicovolcanoconiosis" # string

a = [1,2,3,4,5] # list

b = [
    [2,3,5], 
    [7, 11, 13], 
    [17, 19, 23]
] # ndim list

record_ut = ("Brian", "CDO", "Data Science", 123456789) # unnamed tuple
record_nt = Student("Brian", "CDO", "Data Science", 123456789) # named tuple

In [21]:
for idx, char in enumerate(s):
    if char == 's':
        print(idx)

18
24
42
44

In [22]:
i = 0 # initialization
while i < len(s): # condition
    if s[i] == 's':
        print(i)
    i += 1 # update

18
24
42
44

In [23]:
for row in b:
    for e in row:
        print(e)

2
3
5
7
11
13
17
19
23

In [24]:
for row in range(len(b)):
    for col in range(len(b)):
        print(b[row][col])

2
3
5
7
11
13
17
19
23